<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="index.css">
    <script src="../js/vue.js"></script>
    <title>Electric Commerce Sample</title>
</head>
<body>
    <div id="app">
        <div class="container">
            <!-- <template v-if='leftMs > 0'>
                <h1 class='text-center text-danger'>セール終了まであと{{ leftMs | ms_format }}秒！！</h1>
            </template>
            <template v-else>
                <h1 class='text-center text-danger'>セールは終了しました！！</h1>
            </template> -->
            <h1 class='border-bottom border-dark'>商品一覧</h1>
                <!--検索欄-->
                <div class="row">
                    <div class="col col-md-4">
                    検索結果 <span class="count">{{ count }}件</span>
                    </div>
                    <div class="col col-md-8">
                        <ul class="nav justify-content-end">
                            <li class="nav-item pr-3">
                                <label><input type="checkbox" v-model='isSaleFilterChecked'> セール対象</label>
                            </li>
                            <li class="nav-item pr-3">
                                <label><input type="checkbox" v-model='isDelvFreeFilterChecked'> 送料無料</label>
                            </li>
                            <li class="nav-item">
                                <label for="sort">並び替え</label>
                                <!-- optionのvalueを数値として扱うときは.number修飾子を使う -->
                                <select id="sort" class="sorting" v-model.number='sortOrder'>
                                    <option value="1">標準</option>
                                    <option value="2">価格が安い順</option>
                                </select>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--商品一覧-->
                <div class="row">
                    <div v-for='item in processedItems' class="col-md-4" v-bind:key='item.id'>
                        <div class="position-relative">
                            <!-- ▼セール対象の場合▼ -->
                            <div v-if='item.isSale' class="sale">
                                SALE
                            </div>
                            <!-- ▲セール対象の場合▲ -->
                            <img v-bind:src="item.image" alt="">
                        </div>
                        <div class='text-center'>
                            <p v-html='item.name'></p>
                        </div>
                        <div class='text-center'>
                            <div class="price"><span class='bold h3'>{{ item.price | number_format }}</span>円（税込）</div>
                            <!-- ▼送料無料の場合▼ -->
                            <template v-if="item.delv === 0">
                                <div class="shipping-fee text-danger">送料無料</div>
                            </template>
                            <!-- ▲送料無料の場合▲ -->
                            <!-- ▼送料ありの場合▼ -->
                            <template v-else>
                                <div class="shipping-fee">+送料{{ item.delv | number_format }}円</div>
                            </template>
                            <!-- ▲送料ありの場合▲ -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="index.js"></script>
</body>
</html>